<%- include('../includes/head') %>
<h1>PE crud form</h1>
<section id="contener">
    

        <!-- form -->
        <form class="form_contener" action="/home" method="post">
             
            <h3>Form toevoegen</h3>

                <section class="none">
                    <label for="SmartzonezoneId">Smartzone</label>
                    <input type="text" name="smartzonesId" id="smartzoneId">
                </section>
            
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            

            
                <label for="town">Stad</label>
                <input type="text" name="town" id="town">


                
                <label for="location">Locatie</label>
                <input type="text"  name="location" id="location">


                <section class="none">
                    <label for="function">Functie</label>
                    <input type="text" name="function" id="function">
                </section>
            
                <label for="time">Tijd</label>
                <input type="text" name="time" id="time">

                <section class="none">

                    <label for="size">Size</label>
                    <input type="text"  name="size" id="size">


                    <label for="utilization">utilization</label>
                    <input type="text"  name="utilization" id="utilization">

                    <label for="description">Omschrijven</label>
                    <input type="text" name="description" id="description">

                    <label for="image">Image</label>
                    <input type="text" name="image" id="image">

                </section>



                
             
            
            

                <button class="btn__submit" type="submit" value="submit">Submit</button>


            
            

        </form>

         <!-- content -->
        <article class="content">
            <h3>Form informatie</h3>

            <ul>
               
                    

                                    <li>Naam <%- smartzones[1].name %></li>
                                    <li>Stad <%- smartzones[1].town  %> </li>
                                    <li>Tijd <%- smartzones[1].time %> </li>
                                    <li>Omschrijven <%- smartzones[1].description %></li>

                   
                
            </ul>
        
            
               
           
            
         </article>


</section>
<!-- juste for Exampel werk niet -->
<!-- <p> <% smartzones.forEach(function(smartzone) { %>
    <%    smartzones.filter(smartzone => smartzone.name === 'Wafa') 
     .map(smartzone =>{%>   <%}) %><% }) %>
</p> -->

</main>

</body>
</html>