<%- include('../includes/head') %>
<h1>PE crud form</h1>
<section id="contener">
    

        <!-- form -->
        <form class="form_contener" action="/" method="post">
             
            <h3>Form toevoegen</h3>

                <section class="none">
                    <label for="SmartzonezoneId">Smartzone</label>
                    <input type="text" name="smartzonesId" id="smartzoneId">
                </section>
            
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            

            
                <label for="town">Stad</label>
                <input type="text" name="town" id="town">


                
                <label for="location">Locatie</label>
                <input type="text"  name="location" id="location">


                <section class="none">
                    <label for="function">Functie</label>
                    <input type="text" id="function">
                </section>
            
                <label for="time">Tijd</label>
                <input type="text" name="time" id="time">

                <section class="none">

                    <label for="size">Size</label>
                    <input type="text" id="size">


                    <label for="utilization">utilization</label>
                    <input type="text" id="utilization">

                    <label for="discription">Omschrijven</label>
                    <input type="text" id="discription">

                    <label for="image">Image</label>
                    <input type="text" id="image">

                </section>



                
             
            
            

                <button class="btn__submit" type="submit">Submit</button>


            
            

        </form>

         <!-- content -->
        <article class="content">
            <h3>Form informatie</h3>

            <ul>
                <% smartzones.forEach(function(smartzone) { %>
                    <%    smartzones.filter(smartzone => smartzone.name === 'Wafa') 
                     .map(smartzone =>{%> 
                    

                                    <li>Naam <%- smartzone.name %></li>
                                    <li>Stad <%- smartzone.town  %> </li>
                                    <li>Tijd <%- smartzone.time %> </li>
                                    <li>Omschrijven <%- smartzone.description %></li>

                     <%}) %>

                <% }) %>
                
            </ul>
        
            
                <!-- <ul>
                    
                        <li><span> </span> Naam</li>
                        <li> <span></span> Stad </li>
                        <li><span></span> Tijd</li>
                        <li> <span></span> Omschrijven</li>
                    
        
                </ul> -->
    
           
            
         </article>


</section>

</main>

</body>
</html>