<%- include('../includes/head') %>
<h1>PE crud form</h1>
 <!-- content -->
 <article class="content__zones">

    <h3>Form informatie</h3>
    <ul>
        
                <li><span><%- zones[1].name %> </span> Naam</li>
                <li> <span><%- zones[1].town  %> </span> Stad </li>
                <li><span><%- zones[1].time %> </span> Tijd</li>
                <li> <span><%- zones[1].description %> </span> Omschrijven</li>
           
        
    </ul>
  </article>
    <!-- <p>    <% zones.forEach((zone) =>{ %> <% }) %></p> -->
</main>   
</body>
</html>